@{
    ViewData["Title"] = "About";
}
<h1>Misija, vizija i strategija</h1>




<strong>VIZIJA</strong><br>
<br>
Informirati, educirati, poticati i povezivati: podržavati kulturni, društveni i ekonomski razvoj naše zajednice, pružati usluge, osiguravati i braniti pravo na čitanje i slobodan pristup znanju, biti uvažavan i poželjan partner, poznat po izvrsnosti usluga, brižno njegovanim odnosima i zaštiti interesa naših korisnika, našeg osnivača, naših suradnika i naših djelatnika.<br>
<br>
<strong>MISIJA</strong><br>
<br>
Ukupnim djelovanjem educiranih djelatnika, u suradnji s partnerima i suradnicima, osiguravamo kvalitetne usluge koje podržavaju zajednicu i poboljšavaju kvalitetu života u njoj te obogaćuju građane zadovoljavajući njihove raznolike kulturne, informacijske i komunikacijske potrebe.&nbsp;<br>
<br>
<br>