@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   IME: Josip Peric <br />
   ADRESA: Ilica 128 <br />
    <abbr title="Phone">Tel:</abbr>
   01/ 2455-897
</address>

