@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   IME: Josip Peric <br /><br />
   ADRESA: Ilica 128 <br /><br />
   TELEFON: 
   01/ 2455-897
</address>

