
@{
    ViewData["Title"] = "Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Poezija</h2> <br><br>

<p>  <a href="http://www.skripta.info/wp-content/uploads/2016/03/Miroslav-Krleza-Poezija.pdf" target="_blank">Miroslav Krleza  </a></p><br><br>
<p>  <a href="http://www.os-vela-luka.skole.hr/upload/os-vela-luka/images/static3/855/File/Dobrisa_Cesaric_pjesme.pdf" target="_blank"> Dobrisa Cesaric</a></p><br><br>
<p>  <a href="http://gimnazija-sb.com/portal/wp-content/uploads/2015/02/matos_pjesme.pdf" target="_blank">Antun Gustav Matos</a></p><br><br>


